//_______________________________________________________
//COLORS
$orange: #fdb813
$black: #333333
$dark-blue: #35425e
$blue: #0193cf
$light-grey: #f2f2f2


$brand-1: $orange
$brand-2: $blue


//_______________________________________________________
//FONTS
$font-icon: 'FontAwesome'
$font-base: "PTSans-Regular"
$font-base-bold: "PTSans-Bold"