=font($alias, $name)
    @font-face
        font-family: $alias
        src: url("../fonts/" + $name + ".eot")
        src: url("../fonts/" + $name + ".eot?#iefix") format("embedded-opentype"), url("../fonts/" + $name + ".woff") format("woff"), url("../fonts/" + $name + ".ttf") format("truetype")
        font-weight: normal
        font-style: normal

+font("PTSans-Regular", "PTSans-Regular")
+font("PTSans-Bold", "PTSans-Bold")
+font("PTSans-Italic", "PTSans-Italic")
+font("PTSans-BoldItalic", "PTSans-BoldItalic")

