{% extends "layouts/app.twig" %}

{% block pageTitle %}Туры в Россию{% endblock %}


{% block content %}
    <main class="page-main">
        <section class="page-hero md-mb30">
            <div class="uk-container uk-container-center">
                <div class="page-hero-inner uk-slidenav-position" data-uk-slideshow="{kenburns: true}">
                    <ul class="uk-slideshow">
                        <li class="page-hero-slide">
                            <img src="images/hero.jpg" alt="" class="page-hero-slide__img">
                            <div class="page-hero__contain md-flex mb15">
                                <div class="uk-grid m-p-clear full-width">
                                    <div class="uk-width-1-2 md-order-2 uk-visible-large">
                                    </div>
                                    <div class="uk-width-medium-1-1 uk-width-large-1-2">
                                        <div class="page-hero__title">
                                            <h1>Туры в Крым из Воронежа</h1>
                                        </div>
                                        <div class="page-hero__description mb25">
                                            <p>Прямые вылеты из Воронежа на <br>
                                                двоих, все включено!</p>
                                        </div>
                                        <div class="page-hero__application">
                                            <div class="page-hero__application-text uk-flex uk-flex-space-between uk-flex-middle">
                                                <i class="uk-icon uk-icon-chevron-right mr10"></i>
                                                <p>Оставьте заявку, все остальное <br>
                                                    мы сделаем за Вас!</p>
                                            </div>
                                            <a href="#" class="btn primary-btn">подберите мне тур</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="breadcrumb uk-hidden-small">
            <div class="uk-container uk-container-center">
                <ul class="breadcrumb-inner uk-breadcrumb">
                    <li><a href="">Отдых в России</a></li>
                    <li class="uk-active"><span>Крым</span></li>
                </ul>
            </div>
        </section>
        <section class="city-filter mb30">
            <div class="uk-container uk-container-center">
                <div class="city-filter__navbar-wrapper alloted-pane mb55 uk-hidden-small">
                    <div class="city-filter__navbar-tabs-wrapper mb25 md-mb0">
                        <ul class="city-filter__navbar-tabs uk-breadcrumb">
                            <li>
                                <a href="">
                                    <img class="mr10" src="images/flag_ru.png" alt="">
                                    Отдых в России</a>
                            </li>
                            <li class="uk-active ml30"><span>Крым</span></li>
                        </ul>
                    </div>
                    <div class="city-filter__navbar sm-fz14 uk-hidden-small" data-uk-grid-margin>
                        <a href="">Анапа</a>
                        <a href="">Красная поляна</a>
                        <a href="">“Золотое Кольцо”</a>
                        <a href="">Минеральные Воды</a>
                        <a href="">Карелия</a>
                        <a href="" class="city-active">Крым</a>
                        <a href="">Сочи</a>
                        <a href="">Сочи</a>
                        <a href="">Сочи</a>
                        <a href="">Великий Новгород</a>
                        <a href="">Великий Новгород</a>
                        <a href="">Великий Новгород</a>
                        <a href="">Великий Новгород</a>
                    </div>
                </div>
                <div class="city-filter__sentence">
                    <div class="section-title-wrapper mb30">
                        <p class="section-title mb15">Лучшие предложения по отдыху в Крыму</p>
                        <p class="section-description">
                            Лучшие горящие туры со скидкой каждый день
                        </p>
                    </div>
                    <div class="">
                        <p>Горящие туры</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="city-filter-manager mb35">
            <div class="uk-container uk-container-center">
                <div class="city-filter-manager-inner">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-flex uk-flex-middle uk-flex-center">
                            <div class="city-filter__manager-img">
                                <img src="http://placehold.it/350x150" alt="">
                            </div>
                            <div class="uk-flex uk-flex-column">
                                <div class="mb10">
                                    <p>Ваш менеджер</p>
                                </div>
                                <div class="city-filter__manager-name">
                                    <p>Людмила Цыганок</p>
                                </div>
                            </div>

                        </div>
                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-flex uk-flex-middle uk-flex-center">
                            <div class="uk-flex-column">
                                <div class="mb10">
                                    <p>Консультант по турам</p>
                                </div>
                                <a class="city-filter-manager__phone" href="tel:84732783896">8 (473) 278-38-96</a>
                            </div>
                        </div>
                        <div class="uk-hidden-small uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-flex uk-flex-middle uk-flex-center">
                            <div class="uk-text-center">
                                <p>Подберу для Вас лучшие
                                    предложения!</p>
                            </div>

                        </div>
                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 uk-flex uk-flex-middle uk-flex-center">
                            <a href="#" class="btn primary-btn">ПОДБЕРИТЕ МНЕ ТУР</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section story mb55">
            <div class="uk-container uk-container-center">
                <div class="story-inner alloted-pane">
                    <div class="alloted-pane__head mb50 sm-mb30">
                        <div class="section-title-wrapper">
                            <p class="section-title">Отдых в Крыму из Воронежа</p>
                            <p class="section-description">
                                Крым – это  уникальное место для отдыха и лечения.
                            </p>
                        </div>
                    </div>
                    <div class="alloted-pane__content">
                        <div class="alloted-pane__item-wrapper">
                            <div class="alloted-pane__item">
                                <div class="text-paragraph mb35 sm-lh-18">
                                    <p>Кто-то хочет искупаться в море, позагорать на пляже, кого-то
                                        привлекают тусовки на крутых ночных дискотеках, кто-то желает
                                        полюбоваться историческими архитектурными сооружениями и
                                        удивительно красивой природой края. Это всё без труда можно
                                      id="story-slider"  найти в Крыму.</p>
                                </div>
                            </div>
                        </div>
                        <div class="alloted-pane__item-wrapper">
                            <div class="alloted-pane__item">
                                <div class="text-paragraph mb35 sm-lh-18">
                                    <p>Кто-то хочет искупаться в море, позагорать на пляже, кого-то
                                        привлекают тусовки на крутых ночных дискотеках, кто-то желает
                                        полюбоваться историческими архитектурными сооружениями и
                                        удивительно красивой природой края. Это всё без труда можно
                                        найти в Крыму.</p>
                                </div>
                            </div>
                        </div>
                        <div class="story-slider owl-carousel" id="story-slider">
                            {% for 1 in 1..5 %}
                                <div class="story-slider__item">
                                    <img src="images/landscape-sample.png" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <p>Горящие туры</p>
        </section>
        <section class="all-sentence mb50 sm-mb30">
            <div class="uk-container uk-container-center">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-1-1 uk-width-medium-7-10">
                        <div class="all-sentence__sticker">
                            <p class="uk-hidden-small">узнайте все наши</p>
                            <p class="uk-hidden-small">горящие предложения</p>
                            <p class="uk-hidden-small">по отдыху в крыму</p>
                            <p class="uk-visible-small lh-normal">узнайте все наши горящие предложения <br> по отдыху в крыму</p>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-medium-3-10 uk-flex uk-flex-column uk-flex-center">
                        <div class="all-sentence__info">
                            <div class="all-sentence-link__logo mb25">
                                <img src="images/logo-blue.png" alt="">
                            </div>
                            <a href="" class="btn primary-btn mb40">ПОДБЕРИТЕ МНЕ ТУР</a>
                            <p class="uk-text-center text-col-2 md-fz14">Официальный представитель <br>
                                CORAL TRAVEL <br>
                                в Воронеже</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="consultant mb70">
            <div class="uk-container uk-container-center">
            <div class="consultant-head  alloted-pane mb70">
                <div class="mb50 sm-mb30">
                    <div class="section-title-wrapper">
                        <p class="section-title">Профессиональные консультанты по туризму</p>
                        <p class="section-description">
                            Наши менеджеры учтут все ваши пожелания и финансовые <br>
                            возможности и подберут самый оптимальный тур. Все наши клиенты <br>
                            остаются довольными!
                        </p>
                    </div>
                </div>
                <div class="alloted-pane__content">
                    <div class="uk-grid" >
                        <div class="uk-width-medium-1-2">
                            <div class="text-paragraph">
                                <p>Кто-то хочет искупаться в море, позагорать на пляже, кого-то
                                    привлекают тусовки на крутых ночных дискотеках, кто-то желает
                                    полюбоваться историческими архитектурными сооружениями и
                                    удивительно красивой природой края. Это всё без труда можно
                                    найти в Крыму.</p>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="text-paragraph">
                                <p>Кто-то хочет искупаться в море, позагорать на пляже, кого-то
                                    привлекают тусовки на крутых ночных дискотеках, кто-то желает
                                    полюбоваться историческими архитектурными сооружениями и
                                    удивительно красивой природой края. Это всё без труда можно
                                    найти в Крыму.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="consultant-list owl-carousel" id="consultant-slider">
                {% for 1 in 1..3 %}
                    <div class="consultant-item-wrapper">
                        <div class="consultant-item">
                            <div class="uk-flex uk-flex-left uk-flex-middle md-flex-center mb30">
                                <div class="consultant-item__img">
                                    <img src=" http://placehold.it/140x140" alt="">
                                </div>
                                <div class="consultant-item__name">
                                    <p>Овсянникова Татьяна</p>
                                </div>
                            </div>

                            <div class="consultant-item__speech">
                                <p>Вы можете спокойно готовиться к поездке
                                    — мы всё сделаем за вас</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="">
            <p>Горящие туры</p>
        </section>
        <section class="how-to-buy mb55">
            <div class="uk-container uk-container-center">
                <div class="how-to-buy__title alloted-pane">
                <div class="alloted-pane__head mb65 sm-mb30">
                    <div class="section-title-wrapper">
                        <p class="section-title">Как купить горящий тур в Крым </p>
                    </div>
                </div>
                <div class="how-to-buy__content" data-uk-grid-margin>
                    <div class="how-to-buy__content-item p-rel">
                        <div class="how-to-buy__content-item-img">
                            <img src="images/Checked.svg" alt="">
                            <p class="how-to-buy__content-item-number">1</p>
                        </div>

                        <div class="how-to-buy__content-item-text">
                            <p class="how-to-buy__content-item-title">
                                Вы оставляете заявку у нас <br>
                                на сайте</p>
                            <p class="how-to-buy__content-item-description">
                                Оставьте заявку в удобной для Вас <br>
                                форме связи и мы Вам перезвоним
                            </p>
                        </div>

                    </div>
                    <div class="how-to-buy__content-item p-rel uk-flex uk-flex-right md-order-2">
                        <div class="how-to-buy__content-item-img">
                            <img src="images/Search.svg" alt="">
                            <p class="how-to-buy__content-item-number">2</p>
                        </div>

                        <div class="how-to-buy__content-item-text">
                            <p class="how-to-buy__content-item-title">
                                Вы едете на отдых
                                </p>
                            <p class="how-to-buy__content-item-description">
                                Вы можете отправляться на <br>
                                отдых!
                            </p>
                        </div>
                    </div>
                    <div class="how-to-buy__content-item md-order-3 p-rel">
                        <div class="how-to-buy__content-item-img">
                            <img src="images/Sun.svg" alt="">
                            <p class="how-to-buy__content-item-number">3</p>
                        </div>

                        <div class="how-to-buy__content-item-text">
                            <p class="how-to-buy__content-item-title">
                                Мы подбираем лучшее <br>
                                предложение
                                </p>
                            <p class="how-to-buy__content-item-description">
                                Наш специалист выберет для Вас <br>
                                максимально выгодное предложение.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="contacts">
            <div class="uk-container uk-container-center">
                <div class="uk-position-relative">
                    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                    <script src="js/YaMap.js"></script>
                    <div class="uk-container uk-container-center">
                        <div class="p-rel">
                        <div class="section-title">
                            <p>Наши контакты </p>

                        </div>
                        <div class="map-popup">
                            <p>Адрес: <br> г. Воронеж, ул. <br> Пушкинская, д.42.</p>
                        </div>
                        </div>

                        <div id="map">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}