<footer class="page-footer">
    <div class="uk-container uk-container-center">
        <div class="page-footer__contacts uk-flex uk-flex-center">
            <div class="uk-grid full-width">
            <div class="uk-width-medium-1-3 uk-text-center uk-flex uk-flex-column uk-flex-space-between">
                <p class="text-bold">
                    ООО ТК “Дискавери”
                </p>
                <p class="">
                    Уполномоченное агентство <br>
                    “CORAL TRAVEL”
                </p>
                <a href="mailto:leopard-v@inbox.ru" class="page-footer__mail">leopard-v@inbox.ru</a>
            </div>
            <div class="uk-width-medium-1-3 uk-text-center uk-flex uk-flex-column uk-flex-space-between">
                <p class="text-bold">
                    Доверьте подбор тура профессионалам!
                </p>
                <a href="tel:84732783896" class="page-footer__phone">8 (473) 278-38-96</a>
                <div class="tac full-width">
                    <a href="#" class="btn primary-btn">ПОДБЕРИТЕ МНЕ ТУР</a>
                </div>

            </div>
            <div class="uk-width-medium-1-3 uk-text-center uk-flex uk-flex-column uk-flex-space-between">
                <p class="text-bold">
                    Желаем вам отличного отдыха!
                </p>
                <p class="">
                    Пусть путешествие с <br>
                    Дискавери подарит вам новые <br>
                    незабываемые впечатления
                </p>
                <div class="page-footer__socials">
                    <a href="#" class="uk-icon uk-icon-vk"></a>
                </div>
            </div>
            </div>
        </div>
        <div class="page-footer__bottom-panel uk-flex uk-flex-space-between">
            <div class="uk-flex uk-flex-left">
                <p class="mr15">ООО ТК “Дискавери”</p>
                <p class="page-footer__num">ИНН 3662174519</p>
            </div>
            <div class="uk-flex uk-flex-right">
                <p class="mr15">Создание сайта</p>
                <p>HostCMS</p>
            </div>
        </div>
    </div>
</footer>