<header class="page-header">
    <div class="uk-container uk-container-center">
        <div class="page-header__contain">
            <div class="uk-grid">
            <div class="uk-width-medium-3-10 uk-flex uk-flex-middle">
                <span class="page-header__logo">
                    <img src="images/logo.webp" alt="">
                </span>
            </div>
            <div class="uk-width-medium-7-10 uk-flex uk-flex-middle uk-flex-column ">
                <div class="page-header__contact-panel">
                    <p>Официальный представитель CORAL TRAVEL</p>
                    <a href="tel:84732783896" class="page-header__phone">8 (473) 278-38-96</a>
                </div>
                <div class="page-header__navbar">
                    <div class="page-header__marker ttu">
                        <i class="uk-icon uk-icon-map-marker mr10"></i>
                        воронеж
                    </div>
                    <div class="page-header__nav-wrapper">
                        <ul class="page-header__nav uk-position-relative" >
                            <li><a href="">горящие туры</a></li>
                            <li class="uk-parent" data-uk-dropdown>
                                <a href="" class="b-page-header__navbar-link fz15 ttu">О КОМПАНИИ </a>
                                <div class="uk-dropdown uk-dropdown-navbar list-dd-wrapper">
                                    <ul>
                                        {% for 1  in 1..5 %}
                                            <li><a href="#">Зерновые сушилки</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li><a href="">КОНТАКТЫ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</header>